- if(config.menu.enabled) {
  div.row
    div.col-md-8.col-md-offset-2
      ul.nav.nav-tabs

        - for(var i in config.menu.content) {
          - var pathname = new String(request.path.replace(config.baseurl + '/', ""));
          - var menupath = new String(config.menu.content[i].path);

          - if(pathname.indexOf(menupath) === 0 && (menupath.length >= pathname.length)) {
            li.active
              a(href= config['baseurl'] + config.menu.content[i].path) !{config.menu.content[i].label}
          - }
          - else {
            li
              - if(menupath.indexOf("http://") === 0) {
                a(href= config.menu.content[i].path) !{config.menu.content[i].label}
              - }
              - else {
                a(href= config['baseurl'] + config.menu.content[i].path) !{config.menu.content[i].label}
              - }
          - }
        - }
- }
