div.row
  div.col-md-8.col-md-offset-2
    ul.nav.nav-tabs
      li
        a(href='../') Home
      li.active
        a(href='#') Blog
      li
        a(href='#') CV
      li
        a(href='') GitHub
      li
        a(href='') Linkedin
      li
        a(href='../contact') Contact