script(src= config['baseurl'] + '/js/jquery.min.js')
script(src= config['baseurl'] + '/js/bootstrap.min.js')
script(src= config['baseurl'] + '/js/moment.min.js')
script(src= config['baseurl'] + '/js/fluid.view.js')