.container
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          p
            a(href='#/admin/blog/posts') Posts
          p
            a(href='#/admin/pages') Pages
          p
            a(href='#/admin') Admin
