include ../menu
.container
  .row
    legend Create an account
    br
    button.btn.btn-default(type='text') Edit
    form(role='form', method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username', ng-model='user.username' readonly)
      .form-group
          input.form-control(type='email', name="email", placeholder='Enter Email', ng-model='user.email' readonly)
      .form-group
        input.form-control(type='password', name="password", placeholder='Password', ng-model='user.password' readonly)
      .form-group
        input.form-control(type='password', name="passwordCheck", placeholder='Password', ng-model='user.passwordcheck' readonly)
      .form-group
        input.form-control(type='text', name="firstname", placeholder='Firstname', ng-model='user.firstname' readonly)
      .form-group
        input.form-control(type='text', name="lastname", placeholder='Lastname', ng-model='user.lastname' readonly)
