include ../menu
.container
  .row
    .col-md-8.col-md-offset-2
      legend Category
      .row
        .col-md-12
          form.form
            .form-group
              label New category
              input.form-control(ng-model='newCategory.name' type='text')
            .form-group
              button.btn.btn-default(type='button' ng-click='createCategory(newCategory)') Create
            .form-group
              label Select Category
              select.form-control(ng-model='selectedCategory' ng-options='category.name for category in categoryList track by category.id')
            .form-group
              label Edit category
              input.form-control(ng-model='selectedCategory.name' type='text')
            .form-group
              .btn-toolbar
                button.btn.btn-success(type='button' ng-click='saveCategory(selectedCategory)') Save
                button.btn.btn-danger(type='button' ng-click='deleteCategory(selectedCategory)') Delete
