.container
  .row
    .col-md-8.col-md-offset-2
      legend Category
        p
          a(href='#/admin/blog/posts') Posts
        p
          a(href='#/admin/blog/posts/create') Posts
        p
          a(href='#/admin/pages') Pages
        p
          a(href='#/admin') Admin
