include ../menu
.container
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          form.form
            .form-group
              label Edit Title
              input.form-control(ng-model='post.title' type='text')
            .form-group
              //- label Edit Tags
              //- input.form-control(type='tags' placeholder='Tags' id='input_post_tags' ng-model='SelectedPost.tags[0].name')
            .form-group
              label Select Category
              select.form-control(ng-model='post.category' ng-options='category.name for category in categories track by category.name')
            .form-group
              label Create Post
              textarea.form-control(rows='15' ng-model='post.content')
            .form-group
                  div(marked="page.content")
            .form-group
              .btn-toolbar
                button.btn.btn-success(type='button' ng-click='savePost(post)') Publish
                button.btn.btn-danger(type='button' ng-click='deletePost(post)') Delete
