.container
  .row
    .col-md-8.col-md-offset-2
      legend Posts
      .row
        .col-md-12
          legend 
          a(href="#/admin/blog/posts/create") New Post
      .row
        .col-md-12
          ul
            li(ng-repeat='post in postList') 
              a(href="#/admin/blog/posts/edit/{{post.id}}") {{Post.title}}
