extends layout


div.row
  div.row
   - var classes = ['col-md-10']
    div(class=classes)
    // display the entries here
      - var markdown = require( "markdown" ).markdown;
      div
        - markdown.toHTML( "Hello *World*!" )        

  - var classes = ['col-md-2']
  div(class=classes)
  // display the categories here