extends layout
body
  header
  nav
    div.row
      div.container
       div
  section
    div.row
      div.container
        div
  // loop the display of posts by 5
  article
    div.row
      div.container
        div
  