doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    script(src='../assets/js/jquery.min.js')
    script(src='../assets/js/bootstrap.min.js')
    block head
  body
    block content