doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    include ../assets/js/jquery.min.js
    include ../assets/js/bootstrap.min.js
    block head
  body
    block content