doctype html
html
  head
    title Fluid
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css")
