include layout
body
  div.container
    div.row
      div.col-md-8.col-md-offset-2
        ul.nav.nav-tabs
          li
            a(href='../') Home
          li.active
            a(href='#') Blog
          li
            a(href='#') CV
          li
            a(href='http://github.com/chriscx') GitHub
          li
            a(href='http://www.linkedin.com/in/christophercailleaux') Linkedin
          li
            a(href='../contact') Contact

    div.row
      div.col-md-8.col-md-offset-2