extends layout
body
  nav
    div.row
      div.container
       div.col-md-12
        ul(class='nav nav-tabs')
          li Home
          li CV
          li Blog
          li LinkedIn
          li GitHub
          Li Contact
  section
    div.row
      div.container
        div.col-md-12
        ol.breadcrums
          li Category 1
          li Category 2
          li Category 3
  article
    div.row
      div.container
        div.col-md-12
  