include includes/layout
body
  div.container

    include includes/nav

    div.row
      div.col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            h3.panel-title Panel title
          .panel-body
            | Panel content