doctype html
html(ng-app='FluidApp' ng-controller='IndexController')
  head
    base(href='/')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    //- title {{title}}
    title= title
    link(rel='icon' type='image/png' href='/public/icon.ico')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- meta(name='description' content='{{description}}')
    //- meta(name='keywords' content='{{keywords}}')
    //- meta(name='author' content='{{author}}')
    meta(name='description' content= description)
    meta(name='keywords' content= keywords)
    meta(name='author' content= author)
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800' rel='stylesheet' type='text/css')
    //- link(href='/components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(type='text/css' rel='stylesheet' href='assets/css/style.css')
    
  body.fadein(data-spy='scroll' data-target='#nav-scrollspy')
    .container
      header.row
        //- div(ng-include src="'views/header.html'")
        .col-md-8.col-md-offset-2(ng-bind-html='header.htmlSafe')
        .col-md-8.col-md-offset-2
          ul.nav.nav-tabs
              li(role="{{item.name}}" ng-repeat="item in menu | orderBy:'order'" ng-class="{active: isActive('{{item.route}}')}")
                a(href="/#{{item.route}}") {{item.name}}
    
    div.fade(ng-view='')
    .container
      br
      footer.row
        //- div(ng-include src="'views/footer.html'")
        .col-md-8.col-md-offset-2(ng-bind-html='footer.htmlSafe')
        
script(src='/components/jquery/dist/jquery.min.js' async)
script(src='/components/bootstrap/dist/js/bootstrap.min.js' async)
script(src='/components/angular/angular.min.js' async)
script(src='/components/angular-route/angular-route.js' async)
script(src='/components/angular-cookies/angular-cookies.min.js' async)
script(src='/components/angular-resource/angular-resource.min.js' async)
script(src='/components/angular-animate/angular-animate.min.js' async)
script(src='/components/angular-strap/angular-strap.min.js' async)
script(src='/components/angular-strap/angular-strap.tpl.min.js' async)
script(src='/components/marked/lib/marked.js')
script(src='/components/angular-marked/angular-marked.min.js' async)
script(src='/components/angular-bootstrap/ui-bootstrap.min.js' async)
script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js' async)

script(type='text/javascript' src='app.js' async)
script(type='text/javascript' src='services/userService.js' async)
script(type='text/javascript' src='services/authService.js' async)
script(type='text/javascript' src='services/authInterceptor.js' async)
script(type='text/javascript' src='services/pageService.js' async)
script(type='text/javascript' src='services/postService.js' async)
script(type='text/javascript' src='services/menuService.js' async)
script(type='text/javascript' src='services/fileService.js' async)
script(type='text/javascript' src='services/settingService.js' async)
script(type='text/javascript' src='controllers/indexController.js' async)
script(type='text/javascript' src='controllers/logoutController.js' async)
script(type='text/javascript' src='controllers/userController.js' async)
script(type='text/javascript' src='controllers/pageController.js' async)
script(type='text/javascript' src='controllers/blogController.js' async)
script(type='text/javascript' src='controllers/postController.js' async)
script(type='text/javascript' src='controllers/adminPostsController.js' async)
script(type='text/javascript' src='controllers/adminPagesController.js' async)
script(type='text/javascript' src='controllers/adminSettingsController.js' async)
script(type='text/javascript' src='controllers/adminFilesController.js' async)
