
<div class="row">
  <div class="col-md-12">
    <h1>Sign up</h1>
    <form role="form" method="post" style="max-width: 300px;">
      <div class="form-group">
        <input type="text" name="username" placeholder="Enter Username" ng-model="user.username" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Enter Email" ng-model="user.email" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" ng-model="user.password" class="form-control"/>
      </div>
      <div class="form-group">
        <input type="password" name="passwordCheck" placeholder="Password" ng-model="user.passwordCheck" class="form-control"/>
      </div>
      <div class="form-group">
        <div class="btn-toolbar">
          <button type="button" ng-click="signUp(user)" class="btn btn-default">Submit</button><a type="submit" href="/" class="btn btn-primary">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="alert alert-danger">{{alert.msg}}</div>
  </div>
</div>