include admin.menu.jade
.row
  .col-md-12
    legend Pages
    a.btn.btn-success(href="/admin/pages/create") New Page
br
.row
  .col-md-12
    ul.list-group
      li.list-group-item(ng-repeat='page in pageList') 
        a(href="/admin/pages/edit/{{page.route}}") {{page.title}}
