.container
  br
  .row
    .col-md-8.col-md-offset-2
      .row
        ul.nav.nav-pills(role='navigation')
          li(ng-class="{active: isActive('/')}")
            a(href='/#/')
              | Public
          li(ng-class="{active: isActive('/admin')}")
            a(href='/#/admin')
              | Settings
              //- span.sr-only (current)
          li(ng-class="{active: isActive('/admin/blog/posts')}")
            a(href='/#/admin/blog/posts')
              | Posts
          li(ng-class="{active: isActive('/admin/pages')}")
            a(href='/#/admin/pages')
              | Pages
          li(ng-class="{active: isActive('/admin/files')}")
            a(href='/#/admin/files')
              | Files
          li(ng-class="{active: isActive('/admin/user')}")
            a(href='/#/admin/user')
              | My info
      .row
        br
