include admin.menu.jade
.row
  .col-md-12
    form.form
      
      .form-group
        label Edit Title
        input.form-control(type='title' ng-model='page.title')
      .form-group
        label Edit Route
        input.form-control(type='route' ng-model='page.route')
      .form-group
        text-angular(rows='15' ng-model='page.body')
      .form-group
        .btn-toolbar
          button.btn.btn-success(type='button' ng-click='savePage(page)') Publish
          button.btn.btn-danger(type='button' ng-click='deletePage(page)') Delete
