include admin.menu.jade
.row
  .col-md-12
    form.form(enctype="multipart/form-data" action="/data/files" method="post")
      .form-group
        label File:
        input.form-control(type='file' ng-model='file.path' name='file')
      .form-group
        .btn-toolbar
          button.btn.btn-success(type='submit' ng-click='uploadFile(file)') Upload
