include menu
.container
  .row(ng-repeat='post in posts')
    .col-md-8
      .page-header
        h1
          a(href='/blog/{{post.id}}') {{post.title}}
          h5 by {{post.author}} - {{post.creationDate | date:'MM/dd/yyyy @ h:mma'}} - 
            a(href='') {{post.category.name}}
          div(marked='post.body')
            //- .row
            //-   button.btn.btn-default Next
            //- .col-md-2
            //-   .bio
            //-     p
            //-       img.img-circle(src='/img/avatar.png')
            //-     p Description on the blog
