.container
  .row(ng-repeat='post in posts')
    .col-md-8
      .page-header
        h2
          a(href='/blog/{{post.id}}') {{post.title}}
          h5 by {{post.author}} - {{post.creationDate | date:'MM/dd/yyyy @ h:mma'}} - 
            a(href='') {{post.category}}
          br
          div.text-justify(ng-bind-html='sanatizeHtml(post.body)')
  .row
    nav
      ul.pager
        li.previous(ng-class="{disabled: navIsActive()}")
          a(ng-click='getPrevious()')
            span(aria-hidden='true') ←
            | Older
        li.next(ng-class="{disabled: navIsActive()}")
          a(ng-click='getNext()')
            | Newer
            span(aria-hidden='true') →
