include menu
.container
  .row
    div(marked='page.body')

    //- p
    //-   a(href='#/login') Login
    //- p
    //-   a(href='#/logout') Logout
    //- p
    //-   a(href='#/signup') Signup 
    //- p
    //-   a(href='#/blog') Blog
    //- p
    //-   a(href='#/admin') Admin
