.row
  .col-md-12
    h1 Login
    form(role='form', method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name='username', placeholder='Enter Username', ng-model='login.username')
      .form-group
        input.form-control(type='password', name='password', placeholder='Password', ng-model='login.password')
      .form-group
        .btn-toolbar
          button.btn.btn-default(type='button', ng-click='logIn(login.username, login.password)') Submit
          a.btn.btn-primary(type="submit", href='/') Cancel
.row
  .col-md-12
    div.alert.alert-danger(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
