.container
  .row
    legend Login to an account
    br
    form(role='form', method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name='username', placeholder='Enter Username', ng-model='login.username')
      .form-group
        input.form-control(type='password', name='password', placeholder='Password', ng-model='login.password')
      button.btn.btn-default(type='submit' ng-click='logIn(login.username, login.password)') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type='button') Cancel
