.container
  .row
    .col-md-8.col-md-offset-2
      legend Post
      br
      .row
        .page-header
          h3 {{post.title}}
          h6 by {{post.author}} - {{post.creationDate}}
        p {{post.body}}
