include menu
.container
  .row
    .col-md-8.col-md-offset-2
      .page-header
        h3 {{post.title}}
        h6 by {{post.author}} - {{post.creationDate | date:'MM/dd/yyyy @ h:mma'}}
      div(marked='post.body')
