.container
  .row
    .col-md-8
      .page-header
        h2 {{post.title}}
        h5 by {{post.author}} - {{post.creationDate | date:'MM/dd/yyyy @ h:mma'}} - 
          a(href='') {{post.category}}
        br
        div.text-justify(ng-bind-html='post.htmlSafe')
