.container
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          form.form
            .form-group
              label Edit Title
              input.form-control(type='text' id='input_add_page' placeholder='Add new page...' ng-model='newPageTitle')
            .form-group
              label Edit Route
              input.form-control(type='route' placeholder='Route' id='input_page_route' ng-model='selectedPage.route')
            .form-group
              label Edit Page
              textarea.form-control(rows='15' placeholder="Write your post here..." id='textarea_body_page' ng-model='selectedPage.body')
              button.btn.btn-default(type='button') Publish
