include ../menu
.container
  .row
    .col-md-8.col-md-offset-2
      legend Pages
      .row
        .col-md-12
          ul
            li(ng-repeat='page in pageList') 
              a(href="/admin/pages/edit/{{page.route}}") {{page.title}}
      .row
        .col-md-12
          a(href="/admin/pages/create") New Page
