extends layout
block append content
  script(type='text/javascript' src='/js/controllers/admin.js')
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .row(ng-controller='AdminController')
          .col-md-12
            form.form
              .form-group
                .input-group
                  //- label Add Category
                  input.form-control(type='text' id='input_add_category' placeholder='Add new category...')
                  span.input-group-btn
                    button.btn.btn-default(type='button' ng-click='addNewCategory()') Add
              .form-group
                label Select Category
                select.form-control(ng-model='selectedCategory' ng-options='category.name for category in categories track by category.name' id='select_category')
                label Edit Category
                input.form-control(type='text' placeholder='Category' id='input_category_name' value='{{selectedCategory.name}}')
                button.btn.btn-default(type='button' ng-click='saveCategory()') Save
                button.btn.btn-default(type='button' ng-click='deleteCategory()') Delete
              .form-group
                .input-group
                  //- label Add New Post
                  input.form-control(type='text' id='input_add_post' placeholder='Add new post...')
                  span.input-group-btn
                    button.btn.btn-default(type='button' ng-click='addNewPost()') Add
              .form-group
                label Select Post
                select.form-control(ng-model='selectedPost' ng-options='post.title for post in posts track by post.id' id='select_post')
              .form-group
                input.hide(id='oldId' value= '{{selectedPost.id}}')
                label Edit Title
                input.form-control(type='text' placeholder='Title' id='input_post_title' value='{{selectedPost.title}}')
                label Edit Tags
                input.form-control(type='tags' placeholder='Tags' id='input_post_tags' value='{{selectedPost.tags[0].name}}')
                label Select Category
                select.form-control(ng-model='selectedPostCategory' ng-options='category.name for category in categories track by category.name' id='select_post_category')
              .form-group
                label Edit Post
                textarea.form-control(rows='15' placeholder="Write your content here..." id='textarea_body_post') {{selectedPost.body}}
                button.btn.btn-default(type='button' ng-click='savePost()') Save
                button.btn.btn-default(type='button' ng-click='deletePost()') Delete
                button.btn.btn-default(type='button') Publish
              .form-group
                label Select Page
                select.form-control(ng-model='selectedPage' ng-options='page.title for page in pages track by page.route' id='select_page')
              .form-group
                .input-group
                  //- label Add New Page
                  input.form-control(type='text' id='input_add_page' placeholder='Add new page...')
                  span.input-group-btn
                    button.btn.btn-default(type='button' ng-click='addNewPage()') Add
                label Edit Title
                input.form-control(type='title' placeholder='Title' id='input_page_title' value='{{selectedPage.title}}')
                label Edit Route
                input.form-control(type='route' placeholder='Route' id='input_page_route' value='{{selectedPage.route}}')
                label Edit Page
                textarea.form-control(rows='15' placeholder="Write your post here..." id='textarea_body_page') {{selectedPage.body}}
                button.btn.btn-default(type='button' ng-click='savePage()') Save
                button.btn.btn-default(type='button' ng-click='deletePage()') Delete
                button.btn.btn-default(type='button') Publish
