extends layout
block append content

  script(type='text/javascript').
    var FluidApp = angular.module('FluidApp', []);

    FluidApp.controller('adminController',function($scope) {

      //- $.get('/blog/posts/0/5/posts.json', function(data) {
      //-   $scope.$apply(function(){
      //-     $scope.posts = data.content[0];
      //-   });
      //- });
    });

  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .row(ng-controller='adminController')
          .col-md-12
