extends layout
block append content

  script(type='text/javascript').

    var FluidApp = angular.module('FluidApp', []);

    FluidApp.service('PostService', function() {

      this.addNewPost = function() {
        var node, title;
        node = document.createElement('option');
        title = document.getElementById('input_add_post').value
        node.setAttribute('value', getSlug(title));
        node.innerHTML = title;
        document.getElementById('select_post').appendChild(node);
        document.getElementById('input_add_post').value = '';
      }

      this.createPost = function(data) {
        $.post('/blog/post/' + getSlug(data.title), data, function() {
          console.log('POST success');
        });
      }

      this.savePost = function(data) {
        $.put('/blog/post/' + getSlug(data.title), function() {
          console.log('PUT success');
        });
      }

      this.deletePost = function() {
        var title = document.getElementById('input_post_title').value;
        $.del('/blog/post/' + getSlug(title),  function() {
          console.log('DEL success');
        });
      }
    });

    FluidApp.service('PageService', function() {

      this.addNewPage = function() {
        var node, title;
        node = document.createElement('option');
        title = $('#input_add_page').val();
        node.setAttribute('value', getSlug(title));
        node.setAttribute('new', 'true');
        node.innerHTML = title;
        $('#select_page').append(node);
         $('#input_add_page').val('');
      }

      this.createPage = function(data) {

        $.post('/' + route, data, function() {
          console.log('POST success');
        });
      }

      this.savePage = function(data) {
        $.put('/' + route, data, function() {
          console.log('PUT success');
        });
      }

      function deletePage() {
        var route = document.getElementById('input_page_route').value;
        $.del('/' + route,  function() {
          console.log('PUT success');
        });
      }
    });

    FluidApp.controller('AdminController', function($scope, PostService, PageService) {

      $.get('/blog/posts/0/100/posts.json', function(data) {
        $scope.$apply(function(){
          $scope.posts = data.entries;
        });
      });

      $scope.addNewPost = function() {
        if($('#input_add_post').val() !== '')
          PostService.addNewPost();
      }

      $scope.savePost = function() {
        var title, data, body, tags;

        title = $('#input_post_title').val();
        body = $('#textarea_body_post').innerHTML;
        tags = $('#input_post_tags').val();
        
        data = {
          title: '',
          id: getSlug(''),
          body: body,
          tags: [],
          category: '',
          updateDate: (new Date()).getTime(),
          published: true
        };

        if($('#select_post :selected').new)
          PostService.createPost();
        else 
          PostService.savePost();
      }

      $scope.deletePost = function() {
        PostService.deletePost();
      }

      $scope.addNewPage = function() {
        if($('#input_add_page').val() !== '')
          PageService.addNewPage();
      }

      $scope.savePage = function() {
        var route, data, title, body;
        route = $('#input_page_route').val();
        title = $('#input_page_title').val();
        body = $('#textarea_body_page').innerHTML;
        data = {
          title: title,
          route: route,
          body: body,
          updateDate: (new Date()).getTime(),
          published: true
        }

        if($('#select_page :selected').new)
          PageService.createPage(data);
        else 
          PageService.savePage(data);
      }

      $scope.deletePage = function() {
        PageService.deletePage();
      }
    });

  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        .row(ng-controller='AdminController')
          .col-md-12
            .input-group
              input.form-control(type='text' id='input_add_post')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-click='addNewPost()') Add
          .col-md-12
            select.form-control(id='select_post')
              option(ng-repeat='post in posts | orderBy:sortingOrder:reverse' value='{{post.id}}') {{post.title}}
          .col-md-12
            input.form-control(type='text' placeholder='Title' id='input_post_title')
            input.form-control(type='tags' placeholder='Tags' id='input_post_tags')
            select.form-control(id='select_category')
              option(ng-repeat='category in categories | orderBy:sortingOrder:reverse' value='{{category.name}}') {{category.name}}
          .col-md-12
            textarea.form-control(rows='15' placeholder="Write your content here..." id='textarea_body_post')
            button.btn.btn-default(type='button' ng-click='savePost()') Save
            button.btn.btn-default(type='button' ng-click='deletePost()') Delete
            button.btn.btn-default(type='button') Publish
          .col-md-12
            select.form-control(id='select_page')
              option(value='{{id}}') {{title}} title
          .col-md-12
            .input-group
              input.form-control(type='text' id='input_add_page')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-click='addNewPage()') Add
            input.form-control(type='title' placeholder='Title' id='input_page_title')
            input.form-control(type='route' placeholder='Route' id='input_page_route')

            textarea.form-control(rows='15' placeholder="Write your post here..." id='textarea_body_page')
            button.btn.btn-default(type='button' ng-click='savePage()') Save
            button.btn.btn-default(type='button' ng-click='deletePage()') Delete
            button.btn.btn-default(type='button') Publish
