extends layout
block append content
  script(type='text/javascript').
    var FluidApp = angular.module('FluidApp', []);

    FluidApp.controller('blogController',function($scope) {

      //- $.get('playlists.json', function(data) {
      //-   $scope.$apply(function(){
      //-     $scope.playlist = data.content[0].content;
      //-   });
      //- });
    });
  .container-fluid
    .row
      .col-md-6.col-md-offset-2
        .row(ng-controller='blogController')
          .col-md-12.post
            .page-header
              h3 Title
              h6 by Author - 01.01.2014
            p This is a first post
      .col-md-2
        .bio
          p
            img.img-circle(src='/img/avatar.png')
          p Description on the blog
