extends layout
block append content

  script(type='text/javascript').
    var FluidApp = angular.module('FluidApp', []);

    FluidApp.controller('blogController',function($scope) {

      $.get('/blog/posts/0/5/posts.json', function(data) {
        console.log(data);
        $scope.$apply(function(){
          $scope.posts = data.entries;
        });
      });
    });

  .container-fluid
    .row
      .col-md-6.col-md-offset-2
        .row(ng-controller='blogController')
          .col-md-12.post(ng-repeat='post in posts | orderBy:sortingOrder:reverse')
            .page-header
              h3 {{post.title}}
              h6 by {{post.author}} - {{post.creationDate}}
            p {{post.body}}
      .col-md-2
        .bio
          p
            img.img-circle(src='/img/avatar.png')
          p Description on the blog
