extends layout
block append content
  script(type='text/javascript').
    var FluidApp = angular.module('FluidApp', []);

    FluidApp.controller('blogController',function($scope) {

      $.get('/blog/posts/0/5/posts.json', function(data) {
        $scope.$apply(function(){
          $scope.posts = data.content[0];
        });
      });
    });
  .container-fluid
    .row
      .col-md-6.col-md-offset-2
        .row(ng-controller='blogController')
          .col-md-12.post
            .page-header
              h3 {{posts.title}}
              h6 by {{posts.author}} - {{posts.creationData}}
            p {{posts.body}}
      .col-md-2
        .bio
          p
            img.img-circle(src='/img/avatar.png')
          p Description on the blog
