extends layout
block append content
  .container-fluid
    .row
      .col-md-6.col-md-offset-2
        .row(ng-controller='blogController')
          .col-md-12.post
            .page-header
              h3 {{posts.title}}
              h6 by {{posts.author}} - {{posts.creationData}}
            p {{posts.body}}
      .col-md-2
        .bio
          p
            img.img-circle(src='/img/avatar.png')
          p Description on the blog
