extends layout
block append content
  script(type='text/javascript').
    var FluidApp = angular.module('FluidApp', []);

    FluidApp.controller('indexController',function($scope) {

      //- $.get('playlists.json', function(data) {
      //-   $scope.$apply(function(){
      //-     $scope.playlist = data.content[0].content;
      //-   });
      //- });
    });
  .container
    .row
      section.col-md-10.col-md-offset-1
        //- .jumbotron
        //-   h2 Welcome on Fluid!
        //-   h3 How does it work
        //-   p
        //-     | Fluid is a static website with a blog engine written in Node.js with Express. The blog engine is powered with MongoDB.
        //-     | Webpages can be personalized by editing the Jade views from the folder views of the main directory.
        //-     | Configurations such as title, database, etc... are managed by the config.js file from the main directory.
        //-
        //-   h3 Menu Navigation & Routes
        //-   p
        //-     | Adding, removing & editing routes of the website is managed in the config.js file.
        //-     | Add a JSON object with path, associated view and title in the array defining the routes key.
        //-     | Example:
        //-     pre
        //-       code 'routes': [{'path': '/', 'view': 'index', 'title': 'Fluid'}]
        //-     | Then create a jade view file. You can inspire yourself with the index view to create new ones.
        //-   p
        //-     | Enable the menu display by setting the 'enabled' attribute of menu in config.js. Then set the different elements of the menu
        //-     | with the path of the routes you declared.
        //-
        //-   h3 Blog Engine
        //-   p
        //-     | Enable the blog engine by setting the 'enabled' attribute of blog in config.js. Not much is to be done, the route to the blog should be /blog.
        
